body {
  margin: 0;
  padding: 50px 0 0 0;
  font-family: 'Droid Sans', 'Open Sans', 'Arial', sans-serif;
  font-size: 11px;
  background-color: #34495E;
}

.container {
  width: 960px;
  margin: 0 auto;
}

#game {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #FFFFFF;
  overflow: hidden;
  .background {
    height: 100%;
    background-color: #000000;
    background-image: url(../img/layer2.png), url(../img/layer3.png), url(../img/layer1.png), url(../img/layer3.png);
    background-repeat: repeat;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  }
  .player {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 200px;
    left: 60px;
    background: none;
    background-image: url(../img/ship0.png);
    /*.hitbox {
      position: absolute;
      bottom: 15px;
      left: 15px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: red;
    }*/
  }
  .obstacles {
    .obstacle {
      position: absolute;
      bottom: 0;
      left: 960px;
      width: 150px;
      height: 150px;
      background-image: url(../img/obstacle0.png);
      transition: left 2s linear;
      /*.hitbox {
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background: none;
      }*/
    }
  }
  .boss {
    position: absolute;
    bottom: 175px;
    left: 960px;
    width: 150px;
    height: 150px;
    background-image: url(../img/boss0.png);
    transition: bottom 0s linear, left 1s linear;
    .life {
      position: absolute;
      top: -10px;
      left: 0;
      width: 10px;
      height: 10px;
      background: url(../img/life.png) repeat;
      background-size: 10px 10px;
    }
  }
  .bullets {
    .bullet {
      position: absolute;
      bottom: 0;
      left: 300px;
      width: 50px;
      height: 10px;
      background: #fff;
      transition: left 0s linear, right 0s linear;
      .hitbox {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: red;
      }
    }
  }
  .hud {
    position: absolute;
    top: 0;
    width: 100%;
    color: #fff;
    .time {
      position: absolute;
      right: 0;
      top: 0;
      margin: 5px 5px;
      font-size: 25px;
    }
    .progressBar {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 600px;
      height: 15px;
      background: #555555;
      border-radius: 25px;
      margin: 10px;
      padding: 7px;
      .goal {
        width: 0%;
        height: 100%;
        border-radius: 25px;
        background: red;
        transition: width 1s linear;
      }
    }
    .life {
      margin: 5px 5px;
      width: 60px;
      height: 30px;
      background: url(../img/life.png) repeat;
      background-size: 30px 30px;
    }
  }
  .gameOver {
    display: none;
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    top: 0;
  }
  .audio {
    display: none;
  }
}
