@font-face {
  font-family: StarJedi;
  src: url(../fonts/Starjedi.ttf);
}


/*------------------------------*\

***** BODY

\*------------------------------*/

body {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  font-size: 14px;
  padding: 0;
  margin: 0;
  background: black url(../img/bg_site.png) no-repeat center fixed;
  background-size: cover;
}

body.home {
  background: black;
}

.bg-image {
  background: url(../img/bg_site.png) no-repeat center fixed;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.container {
  width: 960px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 10px;
}

.container.no-bg {
  background: none;
}


/*------------------------------*\

***** HEADER

\*------------------------------*/

header {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 80px;
}

header .logo {
  width: 360px;
  margin: 10px auto;
}

header .logo img {
  width: 100%;
}


/*------------------------------*\

***** FOOTER

\*------------------------------*/

footer {
  position: absolute;
  bottom: 0px;
  padding: 15px;
}

footer a.controlSound {
  color: #FFFFFF;
  font-size: 30px;
  text-decoration: none;
}


/*------------------------------*\

***** MAIN PAGE

\*------------------------------*/

h1 {
  text-transform: uppercase;
  font-size: 36px;
  font-family: StarJedi, sans-serif;
  letter-spacing: 2.5px;
  text-transform: lowercase;
}

a.button {
  font-size: 16px;
  color: white;
  padding: 5px 15px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 20px;
}

a.button-choice {
  display: inline-block;
  transition: all linear 0.5s;
  font-size: 23px;
  margin: 60px;
}

a.button-empire {
  box-shadow: 0 0 50px #ff0000;
  background: rgba(255, 0, 0, 0.5);
  transition: all linear 0.25s;
}

a.button-empire:hover {
  box-shadow: 0 0 50px #ff3d3d;
  background: rgba(255, 61, 61, 0.5);
}

a.button-empire span:before {
  content: "";
  display: block;
  background: url("../img/logo_empire.png") no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  float: left;
  margin: 6px 9px 0 0;
}

a.button-alliance {
  box-shadow: 0 0 50px #0000ff;
  background: rgba(0, 0, 255, 0.5);
  transition: all linear 0.25s;
}

a.button-alliance:hover {
  box-shadow: 0 0 50px #3366FF;
  background: rgba(51, 102, 255, 0.5);
}

a.button-alliance span:after {
  content: "";
  display: block;
  background: url("../img/logo_alliance.png") no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  float: right;
  margin: 6px 0 0 9px;
}


/*------------------------------*\

***** DECRIPTION

\*------------------------------*/

.content-bloc {
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 350%;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(15deg);
}

.content-bloc:after {
  position: absolute;
  content: ' ';
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  pointer-events: none;
}

.content-text {
  position: absolute;
  top: 100%;
  animation: scroll 45s linear 1s infinite;
}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}

.content-text p {
  font-family: StarJedi, sans-serif;
  letter-spacing: 2.5px;
  text-transform: lowercase;
}

.content-text p,
a.button-skip {
  color: yellow;
}

a.button-skip {
  position: fixed;
  bottom: 40px;
  right: 40px;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
}


/*------------------------------*\

***** GAME

\*------------------------------*/

#game .container {
  text-align: center;
  padding: 5px 0 0 0;
  margin-top: -70px;
}

.help-button {
  margin: 5px 0;
  font-size: 16px;
  width: 100%;
  height: 100px;
  margin-top: -15px;
}

p.step {
  margin-bottom: 0px;
  text-decoration: underline;
}

div.icon {
  display: inline-block;
  width: 200px;
  margin: -10px auto 0 auto;
}

div.icon.step2 {
  width: 160px;
}

.move {
  float: left;
  width: 60%;
}

.bonus {
  margin-left: 40%;
}

.step1-withTitle {
  float: left;
  width: 60%;
  margin-top: -15px;
}

.step2-withTitle {
  margin-left: 40%;
}

.icon.up:before {
  content: "";
  display: block;
  background: url("../img/up.png") no-repeat;
  background-size: cover;
  width: 35px;
  height: 25px;
  float: left;
  margin: 0;
}

.icon.down:before {
  content: "";
  display: block;
  background: url("../img/down.png") no-repeat;
  background-size: cover;
  width: 35px;
  height: 25px;
  float: left;
  margin: 0;
}

.icon.boost:before {
  content: "";
  display: block;
  background: url("../img/speeder.png") no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  float: left;
  margin: 0;
}

.icon.shoot:before {
  content: "";
  display: block;
  background: url("../img/spacebar.png") no-repeat;
  background-size: cover;
  width: 115px;
  height: 25px;
  float: left;
  margin: 0;
}


/*------------------------------*\

***** SMALL SCREEN

\*------------------------------*/

@media screen and (max-width: 1360px) {
  a.button-skip {
    font-size: 16px;
    top: 40px;
  }
}

@media screen and (max-width: 960px) {
  .container {
    width: 100%;
  }
  a.button-choice {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  a.button-skip {
    font-size: 14px;
  }
}


/*------------------------------*\

***** WIN

\*------------------------------*/

a.button-back {
  display: block;
  transition: all linear 0.25s;
}

a.button-back:hover {
  text-shadow: 0 0 10px white;
}
