/*------------------------------*\

***** BODY

\*------------------------------*/

body {
  color: white;
  background-image: url(../img/bg_site.png);
  font-family: 'Open Sans Condensed', sans-serif;
  background-size: cover;
  text-align: center;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
  font-size: 36px;
}

/*------------------------------*\

***** MAIN PAGE

\*------------------------------*/

.logo{
  position: fixed;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
}

.logo img {
  width: 480px;
  height: auto;
  margin-top: 20px;
}

#section0 h1 {
  padding-top: 160px;
  text-transform: uppercase;
}

#section0 ul {
  margin-top: 80px;
}

#section0 ul li {
  display: inline-block;
}

#section0 ul li:first-child a {
  border: solid 2.5px rgba(255, 0, 0, 0.5);
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0), 0 0 5em red;
  margin-right: 40px;
  transition: all linear 0.5s;
}

#section0 ul li:first-child a:hover {
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0), 0 0 5em #990000;
  border: solid 2.5px rgba(153, 0, 0, 0.5);
}

#section0 ul li:last-child a {
  border: solid 2.5px rgba(0, 0, 255, 0.5);
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0), 0 0 5em blue;
  margin-left: 40px;
  transition: all linear 0.5s;
}

#section0 ul li:last-child a:hover {
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0), 0 0 5em #3366FF;
  border: solid 2.5px rgba(51, 102, 255, 0.5);
}

#section0 ul li a {
  display: block;
}

#section0 ul li a div {
  font-size: 24px;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  margin: 5px;
  width: 120px;
  float: right;
}

#section0 ul li a img {
  height: 60px;
  width: auto;
  margin: 5px;
}

#section0 ul li a img:last-child {
  opacity: 0.8;
}

#section0 p.linkPage {
  margin-top: 60px;
  font-size: 16px;
  transition: all linear 0.5s;
}

#section0 p.linkPage:hover {
  text-shadow: 0 0 1em white;
}

#section0 p.linkPage a {
  color: white;
}

@media screen and (max-width: 500px) {
  #mainPage a.logo img {
    width: 360px;
    height: auto;
  }
  #section0 h1{
    padding-top: 100px;
  }
  #section0 ul{
    margin-top: 40px;
  }
  #section0 ul li:first-child a {
    margin-right: 0;
  }
  #section0 ul li:last-child a {
    margin-left: 0;;
  }
  #section0 p.linkPage{
    margin-top: 40px;
  }
}

/*------------------------------*\

***** GAME PAGE

\*------------------------------*/


/*------------------------------*\

***** SHARING PAGE

\*------------------------------*/

#section2 h1 {
  margin-bottom: 60px;
}

/*------------------------------*\

***** CREDITS PAGE

\*------------------------------*/

#titles {
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 350%;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(25deg);
}

#titles:after {
  position: absolute;
  content: ' ';
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  background-image: linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
  pointer-events: none;
}

#titlecontent {
  position: absolute;
  top: 100%;
  animation: scroll 45s linear 1s infinite;
}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}
